body{
    background-color: rgb(30, 104, 104);
    font: normal 15px Arial;
}
header{
    color: white;
    text-align: center;

}
section{
    font: normal 15pt Arial;
    color: rgb(119, 8, 95);
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px black ;

}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}
input{
    border-radius: 15px;
}
input#ip2{
    width: 170px;
}
input#ip3{
    width: 164px;
}
input#bt1{
    background-color: black;
    color: yellow;
    border-radius: 15px;
}